.loginform {
  width: 75%;
  min-height: 300px;
  display: flex;
  @apply sm:w-1/3;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgb(102, 0, 128) 0 0 15px;
  border: black solid 2px;
  border-radius: 10px;
  background: rgb(255, 255, 255);
}
.fundo {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #8840e7, #d82020);
}
