.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: linear-gradient(180deg, #9d55ff, #ff5d5d);
}